<table *ngIf="userDetails" class="table table-fill">
  <thead>
    <tr>
        <th>fullName</th>
        <th>email</th>
        <th>mobile</th>
        <th>address</th>
        <th>city</th>
      </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{userDetails.fullName}}</td>
         <td>{{userDetails.email}}</td>
         <td>{{userDetails.mobile}}</td>
         <td>{{userDetails.address}}</td>
         <td>{{userDetails.city}}</td>
         <td>
            <input type="button" (click)="onLogout()" value="Logout" />
         </td>
         <td>
            <input type="button" (click)="onEdit(userDetails)" value="edit"/>
         </td>
    </tr>
      <!-- <tr>
          <td>First Name</td>
          <td>{{userDetails.fullName.split(' ')[0]}}</td>
      </tr> -->
      <!-- <tr>
          <td>Last Name</td>
          <td>{{userDetails.fullName.split(' ')[1]}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{userDetails.email}}</td>
      </tr>
      <tr>
        <td>mobile</td>
        <td>{{userDetails.mobile}}</td>
    </tr>
    <tr>
        <td>address</td>
        <td>{{userDetails.address}}</td>
    </tr>
    <tr>
        <td>city</td>
        <td>{{userDetails.city}}</td>
    </tr>
    <tr>
        <td>state</td>
        <td>{{userDetails.state}}</td>
    </tr>
    <tr>
        <td>postalcode</td>
        <td>{{userDetails.postalcode}}</td>
    </tr>
    <tr>
        <td>country</td>
        <td>{{userDetails.country}}</td>
    </tr>
    <tr>
        <td>year</td>
        <td>{{userDetails.year}}</td>
    </tr>
    <tr>
        <td>month</td>
        <td>{{userDetails.month}}</td>
    </tr>
    <tr>
        <td>skills</td>
        <td>{{userDetails.skills}}</td>
    </tr>
    <tr>
        <td>currentemployer</td>
        <td>{{userDetails.currentemployer}}</td>
    </tr>
    <tr>
        <td>destination</td>
        <td>{{userDetails.destination}}</td>
    </tr>
    <tr>
        <td>experienceinmonths</td>
        <td>{{userDetails.experienceinmonths}}</td>
    </tr>
    <tr>
        <td>jobdescription</td>
        <td>{{userDetails.jobdescription}}</td>
    </tr>
    <tr>
        <td>previousemployer</td>
        <td>{{userDetails.previousemployer}}</td>
    </tr>
    <tr>
        <td>previousjobdescription</td>
        <td>{{userDetails.previousjobdescription}}</td>
    </tr>
    <tr>
        <td>previousexperienceinmonths</td>
        <td>{{userDetails.previousexperienceinmonths}}</td>
    </tr>
    <tr>
        <td>college</td>
        <td>{{userDetails.college}}</td>
    </tr>
    <tr>
        <td>yearpassed</td>
        <td>{{userDetails.yearpassed}}</td>
    </tr>
    <tr>
        <td>graduated</td>
        <td>{{userDetails.graduated}}</td>
    </tr>
    <tr>
        <td>graduateschool</td>
        <td>{{userDetails.graduateschool}}</td>
    </tr>
    <tr>
        <td>numberofyearsattend</td>
        <td>{{userDetails.numberofyearsattend}}</td>
    </tr>
    <tr>
        <td>skills/qualifications</td>
        <td>{{userDetails.skillsorqualifications}}</td>
    </tr>
    <tr>
        <td>certification</td>
        <td>{{userDetails.certification}}</td>
    </tr> -->
      <!-- <tr>
          <td colspan="2" class="text-center">
              <input type="button" (click)="onLogout()" value="Logout" />
              <input type="button" (click)="onEdit(userDetails)" value="edit"/>
          </td>
      </tr> -->
  </tbody>
</table>
