<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark align-content-center">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/dots.png" width="30" height="28" class="d-inline-block align-content-center" alt="">
      Financial Intermediatory Funds(FIF)
    </a>
  </nav>
  <!-- Image and text End -->
  
  <!--Second Text Bar -->
  
  <nav class="navbar navbar-light bg-light align-content-center py-0 border-bottom">
    <h6 class="navbar-brand">
      Adaptation Fund(AF) : Project Performance Report(PPR)
    </h6>
  </nav>
  
  <!--Second Text Bar End -->

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8 bg-dark">

        <button mat-button class="menu-button">
            <span>Overview</span>
        </button>
        <button mat-button class="menu-button">
            <span>Financial Data</span>
        </button>
        <button mat-button class="menu-button">
            <span>Procurement</span>
        </button>
        <button mat-button class="menu-button">
            <span>Risk Assessment</span>
        </button>
        <button mat-button class="menu-button">
            <span>ESP Compliance</span>
        </button>
        <button mat-button class="menu-button">
            <span>GP Compliance</span>
        </button>
        <button mat-button class="menu-button">
            <span>Ratings</span>
        </button>
        <button mat-button class="menu-button">
            <span>Project Indicators</span>
        </button>
        <button mat-button class="menu-button">
            <span>Lessons Learned</span>
        </button>
        <button mat-button class="menu-button">
            <span>Results Tracker</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <div class="container bg-white">	
              <div class="wrapper">	
              <div class="arrow-steps clearfix">
                        <div class="step current"> <span><i>Draft initiated</i></span> </div>
                        <div class="step second"> <span><i>With IE</i></span> </div>
                        <div class="step"> <span><i>With secretariat</i></span> </div>
                        <div class="step"> <span><i>With Project Lead</i></span> </div>
                        <div class="step last"> <span><i>approved</i></span></div>
                    </div>
              </div>
              </div>

            <div class="container bg-white">
                <div class="card">
                    <div class="card-body">
                     <h6>Enhancing resilience to climate change of the small agriculture n the chilean region of O'Higgins</h6>
                     <p class="py-3">Country/ Region: <b>Chile</b> | Project ID: <b>061MCLAR</b> | Project Status: <b>Under Implementation</b>Project Financing Total in USD:<b>9,960,000.00</b> | Supervision</p>
                    </div>
                </div>
            </div>
            
            <div class="container p-3 px-4">
                <p><b>project Performance Report(PPR)</b> - Refers to both Projects and programs</p>
            </div>
<div class="container">
            <div class="container bg-white">
              <div class="row">
                <div class="col-4"> 
                  <div class="card border-0 px-0" style="width: 22rem;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <h6 class="CardHeading">Period of Report From</h6>
                          
                          <form>
                            <div class="form-group">                             
                              <input type="date" class="form-control" id="datefont" aria-describedby="datePicker">
                            </div>
                          </form>

                        </div>
                        <div class="col-6">
                          <h6 class="CardHeading">Period of Report To</h6>

                          <form>
                            <div class="form-group">                             
                              <input type="date" class="form-control" id="datefont" aria-describedby="datePicker">
                            </div>
                          </form>

                        </div>
                      </div>
                      <div class="py-3">
                       <h6>Types of Implementating Entity (IE)</h6>
                       <p class="projectparatext">Natinal Implementating Entity</p>
                      </div>
                    </div>  
                  </div>
                </div>

                <div class="col-4"> 
                  <div class="card border-0" style="width: 24rem;">
                    <div class="card-body">
                      <h6>Project</h6>
                      <p class="projectparatext">Enhancing resilience to climate change of the small agriculture in the chilean region of O'Higgins</p><br>
                      <h6>Implementating Entity (IE)</h6>
                      <p class="projectparatext">Agencia de Cooperation internacional de Chile</p>
                    </div>  
                  </div>
                </div>

                <div class="col-4"> 
                  <div class="card border-0" style="width: 18rem;">
                    <div class="card-body">
                      <h6>Database Number</h6>
                      <p>061MCLAR</p><br>
                      <div class="py-2">
                      <h6>Country</h6>
                      <p>Chile</p>
                      </div>                     
                    </div>  
                  </div>
                </div>

              </div>
            </div>
            <!-- CARDS End-->

            <div class="container bg-white px-4">
              <h6>Project Summary</h6> 
              <p class="summarytext">The O'Higgins Region includes 33 municipalities eight of which are choosen as project area:Paredones, Pinchilemu, Marchihue, LaEstrella, Litueche,Nav</p>
           </div>

</div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>